.header {
	height: 250px;
	background-image: url("../img/coderdojo-large.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-item {
	margin-top: 15px;
	margin-bottom: 30px
}

@media(min-width: 768px) {
	.header {
		height: 400px;
	}

    .image-1 {
    	float: right;
    }

    .image-2 {
    	float: left;
    }
}